@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Caramel&family=Rubik+Vinyl&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --header-font-fam: 'Rubik Vinyl', cursive;
  --cairo-font: 'Cairo', sans-serif;
  --game-mark-font: 'Caramel', cursive;
  --light-gray: #ccc5b9;
  --medium-gray: #403d39;
  --dark-gray: #252422;
  --orange: #eb5e28;
}

div.main-container {
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  font-family: var(--cairo-font);
  height: 100vh;
}

div.main-container > header {
  font-family: var(--header-font-fam);
  background-color: var(--dark-gray);
  color: var(--light-gray);
  text-align: center;
  font-size: 2rem;
  border-bottom: 3px solid var(--orange);
}

div.gameboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
}

div.gameboard-container > div.board {
  grid-column: 2 / 3;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

div.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--game-mark-font);
  font-size: 3.5rem;
  font-weight: 700;
}

div.board > div:nth-child(2),
div.board > div:nth-child(5),
div.board > div:nth-child(8) {
  border-right: 2px solid var(--orange);
  border-left: 2px solid var(--orange);
}

div.board > div:nth-child(4),
div.board > div:nth-child(5),
div.board > div:nth-child(6) {
  border-top: 2px solid var(--orange);
  border-bottom: 2px solid var(--orange);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
}

footer a,
footer a:active,
footer a:visited {
  text-decoration: none;
  color: var(--medium-gray);
  transition: all 350ms ease;
}

footer a:hover {
  color: var(--orange);
}
